# Symfony environment
APP_ENV=dev
APP_SECRET=ChangeThisSecret

# Database configuration (uncomment if needed)
# DATABASE_URL="mysql://symfony:symfony@db:3306/symfony?serverVersion=8.0"

# Application port
APP_PORT=8000
